<li>
    <p>{{name}}</p>

    <button class="change-eaten" data-id="{{id}}" data-neweaten="{{eaten}}">
        {{#if eaten}}EAT!{{else}}REMAKE{{/if}}
    </button>
    <img class="imgPatty" src="{{img}}" alt="Patty">
</li>